*{
  border: 1px solid magenta;
}

body {
  background: blanchedalmond;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.container div{
  height: 50px;
  padding: 10px;
  margin: 10px;
}

.a{
  border: 2px solid navy;
  background-color: lightblue;
  width: 100%;
}

.b{
  border: 2px solid navy;
  background-color: lightblue;
  min-height: 100px;
  flex: 4;
}

.c{
  border: 2px solid navy;
  background-color: lightblue;
  flex: 1;
  min-height: 100px;
}

@media (max-width: 600px){
  .container{
    flex-direction: column;
  }
  .c{
    min-height: 50px;
  }
}

/*____________________FOR DECORATION____________________*/
.a::before{
  content: "a";
  font-size: xx-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.b::before{
  content: "b";
  font-size: xx-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.c::before{
  content: "c";
  font-size: xx-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}